@{
    ViewData["Title"] = "Politica de confidențialitate";
}
<h1>@ViewData["Title"]</h1>
<h2>Site</h2>
<p>
    Acest site folosește cookies de la Google Analytics pentru a contoriza informații despre vizitatori.
</p>
<h2>Jocuri</h2>
<p>Jocurile nu folosesc mecanisme de tracking.</p>